@font-face {
  font-family: '국립박물관문화재단클래식B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.top-box {
  font-family: '국립박물관문화재단클래식B';
  color: black;
  font-size:3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #7B4242;
  height: 100px;
}

.buttom-box{
  font-family: 'S-CoreDream-3Light';
  display: flex;
  justify-content: center;
  background-color: #C4A492;
  height: 250px;
}